.body-div {
  box-sizing: border-box;
  background-color: #181818;
  /* background-color: #000000; */
  color: #fff;
  list-style: none;
}

/* body {
} */

.movie-hover:hover {
  transform: scale(1.1);
  z-index: 2;
  /* overflow: visible; */
}

h2 {
  z-index: 1;
}
